<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoTest">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.android.tests.Test1"/>
      <class name="com.android.tests.CalculatorTest"/>
      <class name="com.android.tests.AllureReportDemo"/>
      <class name="com.android.tests.DialPhoneTerst"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- DemoTest -->
